<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spc26.rate_ing_bathroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode= "adjustNothing" >
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginOptionsActivity"
            android:label="Login Options">
        </activity>
        <activity android:name=".AdminViewActivity"
            android:label="Buildings"></activity>
        <activity android:name=".UserLoginActivity"
            android:label="User Login"></activity>
        <activity android:name=".AdminLoginActivity"
            android:label="Admin Login"></activity>
        <activity android:name=".LangdaleFloorActivity"
            android:label="Langdale Hall"></activity>
        <activity android:name=".AderholdFloorActivity"
            android:label="Aderhold Learning Center"></activity>
        <activity android:name=".SignUpActivity"
            android:label="Sign Up"></activity>
        <activity android:name=".LangdaleFloorSelectionActivity"
            android:label="Langdale Floors"></activity>
        <activity android:name=".AderholdFloorSelectionActivity"
            android:label="Aderhold Floors"></activity>
        <activity android:name=".BuildingSelectionActivity"
            android:label="Buildings"></activity>
        <activity android:name=".SelectBathroomActivity"
            android:label="Select A Bathroom"></activity>
        <activity android:name=".MenBathroomActivity"
            android:label="Men's Bathroom"></activity>
        <activity android:name=".WomenBathroomActivity"
            android:label="Women's Bathroom"></activity>
        <activity android:name=".UserViewActivity"
            android:label="Buildings"></activity>
    </application>

</manifest>